<style>
  /* .search-btn{
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem;
  }
  .search-btn:hover{
    background-color: #fe424d;
    color: #fff;
  }
  .search-btn i{
    display: inline;
    margin-right: 0.5rem;
  }
  .search-inp{
    border-radius: 25px;
    padding: 0.5rem 3rem;
  } */
</style>
<nav class=" sticky top-0">
  <div class="flex w-full h-16 justify-between items-center bg-blue-200 px-8  ">
    <div class="flex items-center">
      <a class="text-red-600 text-3xl " href="/listings"><i class="fa-solid fa-hotel"></i></a>
      <button
        class=""
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
      >
        <span class=""></span>
      </button>
      <!-- <div class="flex justify-between" id="navbarNavAltMarkup"> -->
      <div class="">
        <a class="px-4 text-xl" href="/listings">Home</a>
      </div>
    </div>
    <div class="">
      <form class="" role="search">
        <input class="p-2 px-4 rounded-l-lg" type="search" placeholder="Search destinations" />
        <button class="bg-red-500 p-2 px-4 rounded-r-lg" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>
    <div class="">
      <a class="pe-2" href="/listings/new">Add your home</a>
      <% if(!currUser){ %>
      <a class="pe-2" href="/signup"><b>SignUp</b></a>
      <a class="" href="/login"><b>LogIn</b></a>
      <% } %> <% if(currUser){ %>
      <a class="" href="/logout">LogOut</a>
      <% } %>
    </div>
    <!-- </div> -->
  </div>
</nav>
